.background {
    width: 100%;
    height: 100vh;
    background-color: rgb(54, 162, 235);
    background-position: right 50vw bottom 25vh, left 45vw top 44vh;
}
.for-cont {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for-circles{
    width: 100%;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.top-circle {

    width: 60%;
    height: 80%;
    margin-left: -20%;
    margin-top: -10%;
}
.bottom-circle {
    width: 60%;
    height: 80%;
    margin-bottom: -10%;
    margin-left:50%;

    
}
.profile-card {
    position: absolute;
    width: 350px;
    height: 374px;
    border-radius: 15px;
    background-color: white;
}
.img-bg {
    position: relative;
}
.doted-bg {
    border-radius: 15px 15px 0 0;
}
.img-container {
    display: flex;
    justify-content: center; 
}
.profile-img {
    width: 96px;
    height: 96px;
    border: 5px solid white;
    border-radius: 50px;
    position: absolute;
    top:25%;
}
.clear { 
    clear: both;
}
.profile-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
.boy-name {
    color: #2e3349;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: 'Cinzel', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
.number{
    color: #6b7082;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 8.5px;
}
.london {
    color: #6b7082;
    margin-top: 13px;
    text-align: center;
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Cinzel', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #e8e9ec;
    margin-top: 28px;
}
h2 {
    font-family: 'Cinzel', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
.abt-profile {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.k-number {
    color: #2e3349;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
}
.below-text {
    font-weight: 400;
    text-align: center;
    line-height: 12px;
    letter-spacing: 1.5px;
    font-size: 10px;
    margin-top: 9px;
}






@media screen and (min-width:1700px) {
    .top-circle{
        margin-left: -20%;
    }
    body {background-color: red;}
}